.container {
  display: flex;
  flex-direction: row;
}

.mobile {
  display: none;
}

.overlay {
  background-color: rgba(20, 20, 20, 0.705);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.left {
  background-color: rgb(0, 0, 0);
  background-image: url('../assets/sunset5.jpg');
  background-repeat: no-repeat;
  width: 35vw;
  max-width: 315px;
  height: 100vh;
  position: fixed;
  padding: 0;
  margin: 0;
}

.right {
  background-color: rgb(8, 8, 9);
  background-color: #0a0a0b;
  min-height: 100vh;
  margin-left: 300px;
  width: 100%;
}

h1 {
  color: rgb(206, 206, 206);
  color: rgb(194, 193, 193);
  letter-spacing: 0.14em;
  text-transform: uppercase;
  font-size: 2.2em;
  line-height: 1.5em;
  font-weight: 400;
}

h3 {
  color: rgb(194, 193, 193);
  letter-spacing: 0.16em;
  font-size: 0.85em;
  line-height: 2em;
  text-transform: uppercase;
}

.main-content {
  text-align: left;
  padding: 2em;
  padding-left: 2.6em;
  padding-top: 6em;
}

/* .profile-pic {
  border-radius: 100%;
  width: 120px;
  margin: 0px;
} */

@media (max-width: 888px) {
  .main-content {
    padding: 1.9em;
    padding-top: 6em;
    padding-left: 2.3em;
  }
  h1 {
    font-size: 2em;
  }
  h3 {
    font-size: 0.7em;
  }
}

@media (max-width: 855px) {
  .right {
    margin-left: 35vw;
  }
}

@media (max-width: 813px) {
  h1 {
    font-size: 1.8em;
  }
}

@media (max-width: 777px) {
  .overlay {
    background-color: rgba(20, 20, 20, 0.521);
  }
  .container {
    flex-direction: column;
  }
  .left,
  .right {
    width: 100vw;
    max-width: 100vw;
    margin: 0;
  }
  .left {
    position: static;
    max-height: 435px;
    background-image: url('../assets/sunset12.jpg');
    background-repeat: no-repeat;
    background-color: rgb(2, 3, 2);
  }
  .main-content {
    padding: 1.4em;
    padding-top: 4.5em;
    text-align: center;
  }
  .main-content h1 {
    font-size: 2em;
    margin-top: 0.35em;
    margin-bottom: 0.5em;
    line-height: 1.3em;
    font-weight: 400;
  }
  .main-content h3 {
    color: rgb(206, 206, 206);
    font-size: 1.4em;
    text-transform: none;
    margin-bottom: 1em;
    line-height: 1em;
  }
  .profile-pic {
    width: 110px;
  }
}

@media (max-width: 612px) {
  .left {
    position: static;
    background-image: url('../assets/sunset11.jpg');
    height: 392px;
  }
  .right {
    background-color: rgb(10, 10, 15);
  }
  .overlay {
    background-color: rgba(20, 20, 20, 0.514);
  }
  .main-content {
    padding: 1em;
    padding-top: 4.5em;
  }
  .main-content h1 {
    font-size: 1.8em;
  }
  .main-content h3 {
    font-size: 1.3em;
    margin-top: 0.7em;
    margin-bottom: 0em;
  }
  .profile-pic {
    width: 110px;
    margin-bottom: 0.3em;
  }
}

@media (max-width: 505px) {
  .left {
    background-image: url('../assets/sunsetmobile.jpg');
    height: 363px;
  }
  .main-content {
    padding-top: 4em;
  }
}

@media (max-width: 480px) {
  .main-content {
    padding-top: 4.6em;
  }
}

/* toggles mobile and desktop cards */

@media (max-width: 917px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}

@media (max-width: 777px) {
  .left {
    padding-top: 0.7em;
  }
}

@media (max-width: 612px) {
  .left {
    padding-top: 0em;
  }
}

@media (max-width: 400px) {
  .left {
    background-image: url('../assets/sunset9.jpg');
    height: 343px;
  }

  .overlay {
    background-color: rgba(20, 20, 20, 0.493);
  }
}

@media (max-width: 390px) {
  .main-content h1 {
    font-size: 1.6em;
  }
  .main-content h3 {
    font-size: 1.1em;
    margin-top: 0.8em;
    margin-bottom: 1.6em;
  }
}
