#contactButtons {
  margin-top: 0em;
  margin-bottom: 0em;
  width: 100%;
}
#contactButtons span {
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 8px;
  margin-left: 0px;
  margin-right: 16px;
  font-size: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: #1d286b;
  background-color: #324dc4;
}

#contactButtons span:hover {
  background-color: #26338a;
}

#contactButtons a {
  text-shadow: none;
  background-image: none;
}

@media (max-width: 1000px) {
  #contactButtons span {
    font-size: 0.89em;
    margin-right: 15px;
  }
  #contactButtons {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
  }
}

@media (max-width: 777px) {
  #contactButtons span {
    font-size: 1em;
    margin: 10px;
    background-color: #3546b4;
  }
  #contactButtons span {
    margin-left: 0px;
    margin-right: 25px;
  }
  #contactButtons {
    margin-bottom: 1.2em;
  }
  #contactButtons span:hover {
    background-color: #253286;
  }
}

@media (max-width: 700px) {
  #contactButtons {
    margin-top: 1em;
    margin-bottom: 0em;
  }
}

@media (max-width: 480px) {
  #contactButtons {
    margin-top: 1.6em;
  }
}

@media (max-width: 420px) {
  #contactButtons {
    margin-top: 1em;
  }
  #contactButtons span {
    margin-right: 15px;
    margin-left: 0px;
    padding-left: 7px;
    padding-right: 7px;
  }
}
