.introBlurb {
  width: 98%;
  margin: 0 auto;
  font-size: 0.8em;
  padding: 0.5em;
}

.introBlurb p {
  margin: 0;
}

@media (max-width: 970px) {
  .introBlurb {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .introBlurb {
    width: 57vw;
  }
}

@media (max-width: 650px) {
  .introBlurb {
    width: 69vw;
  }
}

@media (max-width: 528px) {
  .introBlurb {
    font-size: 1em;
    width: 80vw;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    line-height: 1.5em;
  }
}
