#introMobile {
  text-align: left;
  padding: 3.6em;
  padding-top: 1.5em;
}

#introMobile h1,
#introMobile h3 {
  color: rgba(30, 31, 41, 0.87);
}
#introMobile h1 {
  font-size: 2.2em;
  line-height: 1.6em;
  margin-bottom: 0.3em;
  font-weight: 800;
}

#introMobile h3 {
  font-size: 0.93em;
  line-height: 1.7em;
  letter-spacing: 0.1em;
}

#introMobile a {
  text-shadow: none;
  background-image: none;
  color: rgba(30, 31, 41, 0.87);
}

#introMobile span {
  text-transform: uppercase;
  background-color: rgba(23, 23, 112, 0.397);
  font-weight: 800;
  font-size: 0.85em;
}

#introMobile #recentWorkMobile {
  padding: 0.1em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  background-color: rgba(0, 0, 0, 0.068);
  background-color: rgba(23, 23, 112, 0.098);
}

#introMobile #recentWorkMobile:hover {
  background-color: rgba(23, 23, 112, 0.24);
}

/* HERE */

@media (max-width: 770px) {
  #introMobile {
    padding: 4.5em;
    padding-top: 1.8em;
    padding-bottom: 0em;
  }
}

@media (max-width: 700px) {
  #introMobile {
    padding: 3.5em;
    padding-top: 1em;
    padding-bottom: 0em;
  }

  #introMobile h1 {
    font-size: 2em;
    line-height: 1.3em;
  }

  #introMobile h3 {
    font-size: 1em;
    line-height: 1.85em;
    letter-spacing: 0.1em;
  }
}

@media (max-width: 600px) {
  #introMobile {
    padding: 3.2em;
    padding-top: 0.5em;
    padding-bottom: 0em;
  }

  #introMobile h1 {
    font-size: 2em;
    line-height: 1.3em;
  }

  #introMobile h3 {
    font-size: 0.9em;
    line-height: 1.7em;
    letter-spacing: 0.1em;
  }
}

@media (max-width: 551px) {
  #introMobile {
    padding-top: 1.7em;
  }
  #introMobile h1 {
    font-size: 1.7em;
  }
  #introMobile h3 {
    font-size: 0.84em;
    line-height: 1.7em;
    letter-spacing: 0.1em;
  }
}

@media (max-width: 497px) {
  #introMobile h1 {
    font-size: 1.6em;
  }
}

@media (max-width: 420px) {
  #introMobile h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 399px) {
  #introMobile {
    padding: 2.8em;
    padding-top: 1em;
  }

  #introMobile h1 {
    font-size: 1.3em;
    line-height: 2em;
  }

  #introMobile h3 {
    font-size: 0.7em;
    line-height: 1.7em;
    letter-spacing: 0.1em;
  }
}

@media (max-width: 330px) {
  #introMobile {
    padding-top: 1.5em;
  }

  #introMobile h1 {
    font-size: 1.1em;
  }

  #introMobile h3 {
    font-size: 0.6em;
  }
}
