.introBlurb {
  width: 90%;
  margin: 0 auto;
  font-size: 1em;
  padding: 0.5em;
  margin-bottom: 0em;
}

.introBlurb p {
  margin: 0 auto;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  color: rgb(153, 152, 152);
  color: rgba(255, 171, 115, 0.781);
  color: rgba(219, 217, 217, 0.973);
  color: #938191;
  color: #c5b2c3;
  color: #283472;

  color: rgba(255, 255, 255, 0.692);
  color: rgb(24, 23, 23);
  color: #161c3d;
  color: rgb(206, 206, 206);
}

@media (max-width: 320px) {
  .introBlurb {
    font-size: 0.82em;
  }
}

/* @media (max-width: 1090px) {
  .introBlurb {
    width: 85%;
    font-size: 0.87em;
  }
}

@media (max-width: 960px) {
  .introBlurb {
    width: 100%;
    font-size: 0.85em;
  }
}

@media (max-width: 906px) {
  .introBlurb {
    width: 90%;
    font-size: 0.8em;
    margin-bottom: 10.5em;
  }
}

@media (max-width: 768px) {
  .introBlurb {
    width: 45vw;
    margin-bottom: 1em;
  }
}

@media (max-width: 650px) {
  .introBlurb {
    width: 69vw;
    font-size: 1em;
  }
}

@media (max-width: 528px) {
  .introBlurb {
    font-size: 1em;
    width: 80vw;
    margin-bottom: 0.6em;
    margin-top: 0.4em;
    line-height: 1.5em;
  }
}

@media (max-width: 420px) {
  .introBlurb {
    font-size: 1em;
    width: 80vw;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    line-height: 1.6em;
  }
}

@media (max-width: 390px) {
  .introBlurb {
    font-size: 0.9em;
    margin-bottom: 0.8em;
    margin-top: 0.7em;
  }
} */
