.container {
  min-width: 1250px;
}

#formContainer {
  width: 75%;
  margin: 0 auto;
  margin-top: 6em;
}

#formContainer li {
  color: rgb(46, 46, 46);
}

form {
  background-color: white;
  padding: 1.5em;
  color: rgb(46, 46, 46);
}

.formRow {
  margin-bottom: 1em;
}

.formRow,
#submitRow {
  display: flex;
  flex-direction: row;
}

#formContainer h4 {
  margin-bottom: 1em;
}

.formRow label {
  display: inline-block;
  min-width: 100px;
}

.formRow input,
.formRow textarea {
  display: inline-block;
  width: 85%;
}

.formRow textarea {
  height: 150px;
}

#submitRow {
  justify-content: flex-end;
  width: 100%;
}

#submitRow input {
  background-color: #3846c7;
  color: white;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 0.8em;
}

#buttonsBottom {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

#contactOptions {
  margin-top: 2.5em;
}

@media (max-width: 1200px) {
  .container {
    min-width: 1050px;
  }
}

@media (max-width: 990px) {
  .container {
    min-width: 800px;
  }
}
