#cardTablet {
  padding-top: 0.3em;
  max-width: 630px;
  margin: 0 auto;
}

#recentWork {
  padding-bottom: 0.6em;
}

#topRowTablet,
#bottomRowTablet,
#thirdRowTablet {
  display: flex;
  color: rgb(206, 206, 206);
  justify-content: space-between;
  margin: 0 auto;
  /* for new layout */
  color: rgb(24, 23, 23);
}

#topRowTablet {
  margin-bottom: 0em;
  padding-top: 2.2em;
}

#bottomRowTablet {
  margin-bottom: 1.5em;
}

#thirdRowTablet {
  margin-bottom: 0.5em;
}

#thirdRightTablet {
  padding-right: 0.2em;
}

#cardLeftTablet {
  min-width: 320px;
}

#topRightTablet {
  display: flex;
  align-items: center;
}

#thirdLeftTablet p {
  margin: 0px;
  padding: 0px;
  line-height: 3.5em;
  font-size: 0.75em;
  letter-spacing: 0.13em;
  vertical-align: bottom;
  text-transform: uppercase;
  color: rgb(141, 140, 140);
  /* for new layout */
  color: rgb(70, 70, 70);
}

#cardRightTablet p {
  padding-top: 0px;
  padding-right: 0px;
  margin-left: 2em;
  font-size: 0.9em;
  line-height: 1.75em;
  letter-spacing: 0.07em;
}

#cardTablet h4 {
  color: #364174;
  color: #475697;
  font-size: 2em;
  padding: 0em;
}

#topRightTablet button {
  margin-bottom: 0em;
  padding: 0px;
  padding-left: 7px;
  padding-right: 7px;
  margin-right: 0em;
  border: none;
  border-radius: 0.2em;
}

#topRightTablet {
  position: relative;
}

#topRightTablet .highlightM {
  z-index: 100;
  background-color: rgba(255, 255, 0, 0);
  position: absolute;
  width: 5.6em;
  height: 1.6em;
  top: 7px;
  left: 107px;
  border-radius: 0px;
}

#topRightTablet .highlightM:hover {
  background-color: rgba(255, 255, 255, 0.192);

  /* border-left: 3px dotted rgb(206, 206, 206);
  border-right: 3px dotted rgb(206, 206, 206); */
}

@media (max-width: 1117px) {
  #cardTablet p {
    font-size: 0.9em;
  }
}

@media (max-width: 1085px) {
  #cardTablet p {
    font-size: 0.83em;
  }
  #thirdLeftTablet p {
    font-size: 0.75em;
  }
}

@media (max-width: 1046px) {
  #cardLeftTablet {
    min-width: 200px;
  }
}

@media (max-width: 1026px) {
  #cardTablet p {
    font-size: 0.8em;
  }
  #cardLeftTablet {
    min-width: 300px;
  }
}

@media (max-width: 1008px) {
  #cardTablet {
    padding: 0.1em;
    padding-top: 1.3em;
    max-width: 780px;
    margin: 0 auto;
  }
}

@media (max-width: 985px) {
  #cardTablet p {
    font-size: 0.75em;
  }
  #cardLeftTablet {
    min-width: 260px;
  }
  #cardLeftTablet,
  #cardLeftTablet img {
    width: 260px;
  }
}

@media (max-width: 947px) {
  #cardTablet {
    padding: 0em;
    padding-top: 1.3em;
  }
  #cardTablet p {
    font-size: 0.75em;
  }
  #cardLeftTablet {
    min-width: 250px;
  }
  #cardLeftTablet,
  #cardLeftTablet img {
    width: 250px;
  }
}

@media (max-width: 931px) {
  #cardTablet p {
    font-size: 0.75em;
  }
  #cardLeftTablet {
    min-width: 240px;
  }
  #cardLeftTablet,
  #cardLeftTablet img {
    width: 240px;
  }
}

/* HERE  below 917px mobile view kicks in*/

@media (max-width: 777px) {
  #cardRightTablet p {
    font-size: 0.8em;
  }
  #cardLeftTablet,
  #cardLeftTablet img {
    min-width: 270px;
  }
  #thirdRowTablet {
    margin-bottom: 2em;
  }
}

@media (max-width: 685px) {
  #cardRightTablet p {
    font-size: 0.75em;
  }
}

@media (max-width: 650px) {
  #cardLeftTablet,
  #cardLeftTablet img {
    min-width: 230px;
  }
  #cardRightTablet p {
    font-size: 0.7em;
  }
}

/* ///////////// */

/* for checking alignment of divs on card
highlights each div in different background color */

/* #topLeftTablet {
  background-color: white;
}

#topRightTablet {
  background-color: pink;
}

#cardLeftTablet {
  background-color: blue;
}

#cardRightTablet {
  background-color: green;
}

#thirdLeftTablet {
  background-color: yellow;
}

#thirdRightTablet {
  background-color: grey;
} */
