#cardContainer {
  width: 16em;
  background-color: #e6e8e7;
  border-radius: 0.5em;
}

h4,
i,
p {
  padding: 15px;
  margin: 0px;
}

h4 {
  font-size: 1.2em;
  margin: 0px;
  padding-bottom: 0.2em;
  font-weight: 700;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

i {
  font-size: 0.8em;
}

p {
  font-size: 0.9em;
}

img {
  margin-top: 0.2em;
  margin-bottom: 0em;
}
