#cardTablet {
  padding: 1em;
  padding-top: 5em;
}

#topRowTablet,
#bottomRowTablet,
#thirdRowTablet {
  display: flex;
  color: rgb(206, 206, 206);
  /* border: 15px solid #364174; */
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

#topRowTablet {
  margin-bottom: 0.8em;
  padding-right: 0.85em;
  padding-top: 1.2em;
}

#bottomRowTablet {
  margin-bottom: 0.5em;
}

#thirdRightTablet {
  padding-right: 0.2em;
}

#cardLeftTablet {
  /* width: 175%; */
  min-width: 320px;
}

#thirdRowTablet i {
  margin: 0px;
  padding: 0px;
  font-size: 0.9em;
}

#cardRightTablet p {
  padding-top: 0px;
  padding-right: 0px;
  margin-left: 1em;
}

#cardTablet h4 {
  color: #364174;
  color: #475697;
  font-size: 2em;
  padding: 0em;
}

#topRightTablet button {
  margin-bottom: 0em;
  padding: 0px;
  padding-left: 7px;
  padding-right: 7px;
  margin-right: 0em;
  border: none;
  border-radius: 0.3em;
}

/* TODO: make a sibling component like I did for the icons 
so that the hover outline can be outside the button */
#topRightTablet button:hover {
  /* box-shadow: 0 0 3px 2px #5364af;
  box-shadow: 0 0 0 2px rgb(141, 189, 211); */
  border: 2px dotted rgb(206, 206, 206);
}

/* ///////////// */

/* for checking alignment of divs on card
highlights each div in different background color */

/* 
#topLeftTablet {
  background-color: white;
}

#topRightTablet {
  background-color: pink;
}

#cardLeftTablet {
  background-color: blue;
}

#cardRightTablet {
  background-color: green;
}

#thirdLeftTablet {
  background-color: yellow;
}

#thirdRightTablet {
  background-color: grey;
} */

@media (max-width: 767px) {
  #cardTablet {
    padding-top: 2em;
  }
}
