#portfolioContainer {
  margin: 0 auto;
  padding: 3em;
  padding-top: 1.8em;
}

/* #portfolioContainer h3 {
  color: rgb(206, 206, 206);
  color: rgb(67, 89, 185);
  font-weight: 200;
  letter-spacing: 0.1em;
  margin-bottom: 0em;
  margin-top: 0px;
  position: relative;
  top: -30px;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
} */

#cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 930px) {
  #portfolioContainer {
    padding: 1em;
  }
}

@media (max-width: 576px) {
  #cardContainer {
    justify-content: center;
  }

  #portfolioContainer {
    margin: 0 auto;
    padding: 1em;
    padding-top: 1.2em;
  }
}
