#cardMobile {
  padding: 1em;
}

#topRow,
#bottomRow,
#thirdRow {
  display: flex;
  color: rgb(206, 206, 206);
  /* border: 15px solid #364174; */
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

#topRow {
  margin-bottom: 0.8em;
  padding-right: 0.85em;
  padding-top: 1.2em;
}

#bottomRow {
  margin-bottom: 0.5em;
}

#thirdRight {
  padding-right: 0.2em;
}

#cardLeft {
  width: 175%;
}

#thirdRow i {
  margin: 0px;
  padding: 0px;
  font-size: 0.9em;
}

#cardRight p {
  padding-top: 0px;
  padding-right: 0px;
  margin-left: 1em;
  font-size: 1em;
}

#cardMobile h4 {
  color: #364174;
  color: #475697;
  font-size: 2em;
  padding: 0em;
}

#topRight button {
  margin-bottom: 0em;
  padding: 0px;
  padding-left: 7px;
  padding-right: 7px;
  margin-right: 0em;
  border: none;
  border-radius: 0.3em;
}

#topRight {
  position: relative;
}

#topRight .highlightM {
  z-index: 100;
  background-color: rgba(255, 255, 0, 0);
  position: absolute;
  width: 5.8em;
  height: 1.6em;
  top: 0px;
  left: -7px;
  border-radius: 0px;
}

#topRight .highlightM:hover {
  border-left: 3px dotted rgb(206, 206, 206);
  border-right: 3px dotted rgb(206, 206, 206);
}

/* ///////////// */

/* for checking alignment of divs on card
highlights each div in different background color */

/* #topLeft {
  background-color: white;
}

#topRight {
  background-color: pink;
}

#cardLeft {
  background-color: blue;
}

#cardRight {
  background-color: green;
}

#thirdLeft {
  background-color: yellow;
}

#thirdRight {
  background-color: grey;
} */

@media (max-width: 430px) {
  #cardRight p {
    font-size: 0.8em;
    line-height: 1.8em;
  }
}
